h1{
    text-align: center;
    background-color:black;
    color:aquamarine;
}
h2{
    color:black;
    text-align: center;
    font-size:2pc;
    background-color :burlywood;
}
h3{
    color:skyblue;
    
}
p{
    font-family:"Noto Sans JP";
    color:white;
}
body{
    background-image: url("../images/04.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    
}
