h1{
    text-align: center;
    background-color:black;
    color:sienna;
}
td{
    background-color:red;
}
h2{
    color:white;
    text-align: center;
    font-size:2pc;
    background-color :black;
}
h3{
    color:skyblue;
    
}
p{
    font-family:"Noto Sans JP";
    color:aqua;
}
body{
    background-image: url("../images/06.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    
    
    
    
    
    
    
}
